*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.w-full{
    width: 100%;
}

.p-1{
    padding: 1rem;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}
.justify-around{
    justify-content: space-around;
}

.mt-1{
    margin-top: 1rem;
}

.text-error{
    color: #9f0101;
    font-size: 10px;
    font-weight: bold;
}

.p-sm{
padding: .5rem;
}

.border-none{
    border: none;
    outline: none;
}

.border-bottom{
    border-bottom: 1px solid #ababab;
}

.no-resize{
    resize: none;
}

.outline-blue{
    outline: lightgreen;
}